# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
webgis_debug.log

# Arquivos grandes
*.tif
*.tif.aux.xml
*.qgz
*.pdf

# Ambiente virtual
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo 